header {
    padding: 20px 10%;
}

#boton-carrito {
    border: none;
    color:  #d9bbbb;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    transition: all .3s;
    width: 65px;
    height: 65px;
    line-height: 65px;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: #575756;
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

select{
    display: inline;
    text-align: center;
    border: 0.3rem solid #d9bbbb;
}

select:hover {
    color: #757575;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #d9bbbb;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #d9bbbb;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}
.card .card-image .card-title{
    color : #d9bbbb;
    position:unset
}

.productoEnCarrito {
    border-left: 5px solid  #575756;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid #d9bbbb;
}

.boton-eliminar {
    background-color: white;
    color:  #575756;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.aviso {
    width: 100%;
    height: 100px;
    text-align: center;
  }
  
  .oculto {
    visibility: hidden;
  }
  .avisoTexto {
    width: 100%;
    display: inline-block;
    background-color: #d9bbbb;
    color: #fff;
    font-size: 1.6rem;
    line-height: 100px;
    opacity: .9;
    transition: all 2s ease-in;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 200;
  }